[run]
source =
    backend
    scripts
omit =
    scripts/data_load.py
    scripts/export_model.py
    scripts/export_model_dl.py
    scripts/feature_importance.py
    scripts/paths.py
    scripts/tf_models.py
    scripts/train_dl.py
    scripts/train_ml.py
    scripts/visual.py

[report]
show_missing = True
skip_empty = True
